* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #80808024;
  padding: 0 5px;
  overflow-x: hidden;
}

/* nav-bar  */

header {
  display: flex;
  position: fixed;
  width: calc(100% - 40px);
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #808080a6;
  border-radius: 10px;
  z-index: 10;
}

.my-logo {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid grey;
  text-align: center;
  align-items: center;
  font-size: medium;
  font-family: "Playwrite VN", serif;
}

.nav-list {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

.nav-item {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: larger;
}

/* about-me section */

#about-me {
  display: flex;
  font-style: italic;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url("../planning/img/my-photo.JPG") center 25% / cover no-repeat;
  mask-image: radial-gradient(
    circle,
    rgba(0% 0% 0% / 100%) 70%,
    rgba(0% 0% 0% / 0%) 100%
  );
}

.about-me-container {
  background-color: #808080a6;
  padding: 10px;
  display: grid;
  text-align: center;
  color: #fff;
  max-width: 70%;
  border: 2px solid grey;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.5);
  animation: fade-in-from-center 1s ease-out forwards;
}

.about-me-description {
  word-spacing: 1px;
  line-height: 1.5;
  font-size: larger;
}

/* Keyframes for animation */
@keyframes fade-in-from-center {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
